body {
    color: #5d001e;
    background-color: #e3e2df;
    font-family: Evolve;
    background: url(images/pinkbaguio.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

li {
    list-style: none;
}

#nav {
    overflow: hidden;
    background-color: #874c62;
    width: 100%;
    margin: auto;
    list-style: none;
    position: fixed;
    top: 0;
    padding: 0;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

header {
    padding-top: 50px;
}

header h1,
#mySchedule {
    font-family: ShineBright;
    font-size: 80px;
    text-align: center;
    margin: 10px;
}

header h2 {
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

header p {
    text-align: center;
    font-size: 20px;
}

main {
    padding: 20px;
    text-align: center;
}

#buttons-container {
    display: block;
    height: auto;
    width: 40%;
    margin: auto;
    padding-top: 20px;
}

.main-buttons {
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    border: 2px transparent solid;
    cursor: pointer;
    width: 100%;
    background-color: #985e6d;
}

.main-buttons:hover {
    opacity: 0.8;
}

#schedButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    color: #4d2c3d;
    margin: 15px;
    cursor: pointer;
    width: 100%;
    font-family: EvolveMed;
    border: 1px white solid;
    background-color: #ffb6c1;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}


#home-button,
#schedule-button {
    width: 100%;
    height: 100%;
    border: 2px white solid;
}

nav p {
    text-align: center;
    margin: 1px;
    padding: 1px;
    color: #985e6d;
}

/*nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}

	nav li {
    float:left;
    width: 33%;
}*/

@font-face {
    font-family: ShineBright;
    src: url("fonts/Shine Bright - Demo.ttf");
}

@font-face {
    font-family: Evolve;
    src: url("fonts/MADE Evolve Sans Regular (PERSONAL USE).otf");
}

@font-face {
    font-family: EvolveMed;
    src: url("fonts/MADE Evolve Sans Medium (PERSONAL USE).otf");
}

#instContainer,
#dropdownContainer {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}



ul h2 {
    font-family: EvolveMed;
}

#instList {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    width: auto;
    margin: 0;
    list-style: none;
}

#schedule-content {
    width: auto;
}

#instList button {
    width: 100%;
    margin: auto;
    height: 100%;
}

div {
    margin: 20px;
}

div #dropdownContainer {
    width: 100%;
    margin: auto;
    font-family: Evolve;

}

select {
    display: block;
    margin: 0 auto;

}

#scheds p {
    font-family: EvolveMed;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#scheds ul {
    background-color: #d8cdcd;
    margin: 5px auto 5px auto;
    padding: 2px;
    width: 80%;
    border: 2px #4d2c3d dashed;
}

